# Dependencies
node_modules/
*/node_modules/

# Environment files and variables
.env
.env.*
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
dist-ssr/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
.DS_Store?
._*
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing & Cache
coverage/
.cache/
.eslintcache


.agents
graphify-out/
.editorconfig

